body {
	margin:0;
	padding:0;
	text-align:center;
	background-color:#f5f5f5;
}

#outer_container {
	width:812px;
	background-image:url("background.gif");
	background-repeat:repeat-y;
	background-position:top left;
	margin:0 auto;
	text-align:left;
}

#container {
	width:800px;
	margin:0 6px 0 6px;
	position:relative;
	background-color:#fff;
	border-top:5px solid #b1c0c9;
	border-bottom:5px solid #b1c0c9;
}

#header {
	height:102px;
	background:url("top.jpg");
}

#header h2 {
	margin:0;
	padding:0;
}

#header h2 a {
	display:block;
	position:absolute;
	width:192px;
	height:35px;
	top:18px;
	left:28px;
	border:none;
}

#header h2 span {
	display:none;
}

#footer {
	background-color:#ccd8df;
	margin:0;
	padding:0;
	border-top:1px solid #ccc;
}

#footer p {
	margin:0;
	padding:5px 6px 5px 5px;
	font-family:Verdana;
	font-size:9px;
	color:#809099;
	font-weight:bold;
	text-align:right;
}

#footer p a {
	color:#5b6f7a;
	text-decoration:none;
}

#footer p a:hover {
	color:#005787;
}

#navigation {
	position:absolute;
	top:64px;
	left:21px;
	list-style:none;
	margin:0;
	padding:0;
}

#navigation li {
	float:left;
	display:block;
	margin:0;
	padding:0;
}

#navigation li a {
	float:left;
	display:block;
	padding:5px 9px 17px 9px;
	text-decoration:none;
	font-weight:bold;
	font-family:"Lucida Grande","Lucida Sans Unicode",Verdana;
	font-size:13px;
	height:16px;
	color:#bcbcbc;
}

#navigation li.active a,
#navigation li a:hover {
	color:#57666e;
}

#navigation li.active a {
	background-image:url("nav_arrow.gif");
	background-position:bottom center;
	background-repeat:no-repeat;
}

#subnavigation {
	padding:0 0 0 0;
	margin:0 0 10px 0;
	list-style:none;
	height:19px;
	border-bottom:1px solid #ededed;
}

#subnavigation li {
	list-style:none;
	float:left;
	padding:0;
	margin:0;
}

#subnavigation li a {
	color:#bcbcbc;
	font-weight:normal;
	display:block;
	font-size:13px;
	padding:0 10px 0 10px;
	line-height:20px;
	margin:-5px 0 0 0;
	letter-spacing:-1px;
}


#subnavigation li.first a {
	padding:0 10px 0 0;
}

#subnavigation li.active a,
#subnavigation li a:hover {
	color:#5a666e;
}

#main {
	padding:10px 30px 10px 30px;
}

#main #message {
	background-color:#6d7a81;
	font-size:18px;
	font-family:"Myriad","Myriad Pro","Trebuchet MS";
	color:#fff;
	padding:15px;
	position:relative;
	z-index:999;
}

#main a.button {
	display:block;
	width:146px;
	height:28px;
	border:0;
	text-align:center;
	background-image:url("button.gif");
	background-position:0 0;
	background-repeat:no-repeat;
	font-family:"Lucida Grande","Lucida Sans Unicode",Verdana;
	letter-spacing:-1px;
	color:#475e6a;
	font-size:12px;
	text-shadow:2px 2px 0px #9daab0;
	font-weight:normal;
	line-height:26px;
	margin-top:10px;
}

#main a.button:hover {
	background-position:0 -28px;
	background-repeat:no-repeat;
}

#main a.button:hover {
	color:#475e6a;
}

#main h1 {
	font-family:"Myriad Pro","Trebuchet MS",Verdana;
	color:#6d7a81;
	font-size:42px;
	font-weight:bold;
	letter-spacing:-1px;
	text-shadow:2px 2px 0px #d9d9d9;
	margin:0 0 0 -2px;
	padding:0 0 0 0;
}

#main h1.small {
	font-size:32px;
}

#main h1 sup {
	font-size:14px;
	color:#aaa;
	text-shadow:none;
}

#main p.introduction {
	font-family:"Myriad","Myriad Pro","Lucida Grande","Lucida Sans Unicode",Verdana;
	margin:0 0 25px 0;
	padding:0 0 0 0;
	font-size:14px;
	line-height:5px;
	font-weight:bold;
	color:#a8a8a8;
	letter-spacing:;
}

#main h2 {
	font-family:"Myriad","Myriad Pro","Lucida Grande","Lucida Sans Unicode",Verdana;
	color:#5f6a71;
	font-size:24px;
	font-weight:normal;
	padding:10px 0 5px 0;
	margin:0 0 0 0;
	border-bottom:1px solid #eee;
}

#main h2 a {
	font-weight:normal;
	margin:0;
	padding:0;
}

#main h3 {
	font-family:"Myriad","Myriad Pro","Lucida Grande","Lucida Sans Unicode",Verdana;
	font-size:20px;
	border-bottom:1px solid #eee;
	padding:7px 0 7px 0;
	margin:0;
	color:#5f6a71;
}

#main h3 span {
	font-size:12px;
	padding-left:7px;
	font-weight:normal;
}

#main h2.borderless,
#main h3.borderless {
	border-bottom:none;
}

#main .item_info {
	padding-top:7px;
	border-top:1px solid #eee;
	text-align:right;
	font-size:9px;
	letter-spacing:0;
	color:#999;
	font-family:"Lucida Grande","Lucida Sans Unicode",Verdana;
}

#main {
	font-family:Verdana;
	color:#333;
	font-size:11px;
}

#main p,
#main li,
#main div.comment {
	font-family:Verdana;
	color:#333;
	font-size:11px;
	line-height:18px;
}

#main p {
	margin-top:12px;
	margin-bottom:12px;
}

#main ul.api li {
	font-family:"Trebuchet MS";
	color:#333;
	font-size:16px;
}

#main h3 span.right {
	text-align:right;
	font-size:12px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Verdana;
}

#main h3 span.right a {
	margin-left:10px;
}

#main a {
	text-decoration:none;
	font-weight:bold;
	color:#2777a1;
}

#main a:hover {
	color:#1b9de2;
}

#main p.date {
	border-top:1px solid #ccc;
	font-size:9px;
	color:#999;
	text-align:right;
}

#main .right {
	float:right;
	margin-left:10px;
}

#main .left {
	float:left;
	margin-right:10px;
}

#main ul.api {
	list-style:none;
	padding-left:0;
}

#main ul.api li {
	font-size:13px;
}

#main .api li ul li {
	font-family:Courier;
	font-size:12px;
}

#main .api span.visibility {
	color:#881350;
}

#main .api span.name {
	color:#003369;
}

#main .api span.variable {
	color:#825900;
}

#main .api span.return {
	color:#666666;
}

#main pre.highlighted {
	margin:0 -30px 5px -30px;
	padding:20px 30px 20px 30px;
	background-color:#000;
	color:#fff;
	font-size:12px;
	overflow:auto;
	width:740px;
}

* html #main pre.highlighted {
	width:798px;
}

/*
#main code ol {
	list-style:none;
}
*/
#main code,
#main .dp-highlighter li {
	font-weight:normal;
	font-family:"bitstream vera sans mono",monaco,"lucida console","courier new",courier,serif;
	color:#fff;
	font-size:12px;
}

#main .dp-highlighter ol {
	margin:0;
	padding:0;
}

#main .dp-highlighter ol,
#main .dp-highlighter ol li {
	list-style:none;
}

#main .dp-highlighter div.comment {
	font-family:inherit;
}

.dp-highlighter ol.css .comment {
	color:#545454;
}

.dp-highlighter ol.css .string {
	color:#8B9F67;
}

.dp-highlighter ol.css .value {
	color:#FAF092;
}

.dp-highlighter ol.css .keyword {
	color:#D3A864;
}

.dp-highlighter ol.css .color {
	color:#CA7840;
}

.dp-highlighter ol.css .size {
	color:#CA7840;
}

.dp-highlighter ol.css .rule {
	color:#7287A8;
}

.dp-highlighter ol.javascript .comment {
	color:#545454;
}

.dp-highlighter ol.javascript .string {
	color:#8B9F67;
}

.dp-highlighter ol.javascript .keyword {
	color:#D3A864;
}

.dp-highlighter ol.javascript .constants {
	color:#DF6547;
}

.dp-highlighter ol.javascript .const {
	color:#DF6547;
}

.dp-highlighter ol.javascript ._this {
	color:#7287A8;
}

.dp-highlighter ol.javascript .builtin {
	color:#9F839E;
}

.dp-highlighter ol.javascript .regexp {
	color:#D3A864;
}

.dp-highlighter ol.javascript .support_property {
	color:#DF6547;
}

.dp-highlighter ol.javascript .support_method {
	color:#FAF092;
}

.dp-highlighter ol.javascript .func_dec {
	color:#A26F3A;
}

.dp-highlighter ol.xml .comments {
	color:#545454;
}

.dp-highlighter ol.xml .tag,
.dp-highlighter ol.xml .tag-name {
	color:#A26F3A;
}

.dp-highlighter ol.xml .attribute {
	color:#D3A864;
}

.dp-highlighter ol.xml .attribute-value {
	color:#8B9F67;
}

#syntacticx {
	display:block;
	position:absolute;
	top:145px;
	right:30px;
	border:0;
	width:169px;
	height:55px;
	background-image:url("syntacticx.png");
}

#syntacticx span {
	display:none;
}

body.download #syntacticx,
body.index #syntacticx,
body.core #syntacticx {
	top:115px;
}

/* Subsection Tabs
--------------------*/
#main ul.subsection_tabs {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	clear:both;
	border-bottom:1px solid #ccc;
	height:20px;
	clear:both;
}

#main ul.subsection_tabs li.tab {
	float:left;
	margin-right:7px;
	text-align:center;
}

#main ul.subsection_tabs li.tab a {
	display:block;
	height:20px;
	padding:0 6px 0 6px;
	background-color:#fff;
	color:#666;
	width:80px;
}

#main ul.subsection_tabs li.tab a:hover {
	color:#666;
}

#main ul.subsection_tabs li.tab a.active {
	background-color:#ddd;
}

#main ul.subsection_tabs li.source_code {
	float:right;
}


/* API Table
---------------*/
table.api_table {
	width:740px;
	margin-bottom:10px;
	empty-cells: show;
}

table.api_table tr.even td {
	background-color:#f7f7f7;
}

table.api_table td {
	height:20px;
	font-size:12px;
	color:#333;
	font-family:"Lucida Grande",Verdana;
	padding:7px 5px 7px 5px;
	border-bottom:1px solid #ddd;
}

table.api_table td.first {
	border-left:1px solid #ddd;
	padding-left:7px;
}

table.api_table td.last {
	border-right:1px solid #ddd;
}

table.api_table td.default,
table.api_table td.type {
	font-size:10px;
	color:#666;
}

table.api_table td.default,
table.api_table td.type {
	width:80px;
}

table.api_table td.example {
	font-size:10px;
	text-align:right;
}

table.api_table td.signature {
	min-width:375px;
}

table.api_table thead td {
	font-size:10px;
	font-weight:bold;
	color:#666;
}

table.api_table td.small {
	font-size:10px;
}

#main table.api_table td.right {
	margin-left:none;
	text-align:right;
	float:inherit;
}